body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.hw-text {
    font-family: 'Franklin Gothic Medium';
    font-size: 50px;
    color: rgb(255, 173, 200);
    text-align: center;
    transition: 0.5s;
    margin: 0;
}

h1:hover {
    font-size: 55px;
    color: rgb(255, 138, 177);
    cursor: default;
}

.list-paragraph-adder {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.list-paragraph-adder h4 {
    font-family: 'Franklin Gothic Medium';
    font-size: 30px;
    color: rgb(255, 173, 200);
    margin: 0;
}

.list-paragraph-adder form {
    display: flex;
    gap: 10px;
}

.list-paragraph-adder form input {
    width: 250px;
    height: 30px;
    padding:  0 10px;
    border-radius: 100px;
    outline: none;
    border: 2px solid rgb(255, 138, 177);
    background-color: rgb(255, 245, 248);

    font-family: 'Franklin Gothic Medium';
    font-size: 15px;
    color: rgb(255, 138, 177);
}

.list-paragraph-adder form input::placeholder {
    font-family: 'Franklin Gothic Medium';
    font-size: 15px;
    color: rgb(255, 193, 214);
}

.list-paragraph-adder form button {
    height: 32px;
    width: 100px;
    border-radius: 100px;
    border: none;
    outline: none;
    background-color: rgb(255, 138, 177);

    font-family: 'Franklin Gothic Medium';
    font-size: 15px;
    color: rgb(255, 245, 248);

    transition: 0.1s;
}

.list-paragraph-adder form button:active {
    scale: 0.9;
}

.list-holder {
    padding: 0;
    width: 380px;
    justify-content: flex-start;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.list-holder li {
    font-family: 'Franklin Gothic Medium';
    font-size: 15px;
    color: rgb(255, 138, 177);
    display: flex;
    justify-content: space-between;

}

.list-holder button {
    background-color: rgba(255, 160, 192, 0.384);
    height: 20px;
    width: 20px;
    border-radius: 100%;
    border: none;

    font-family: 'Franklin Gothic Medium';
    font-size: 10px;
    color: rgb(255, 255, 255);
    
}













